//////////////
//Variables//
////////////
$quip-black: #353535
$primary-blue: #3D87F5
$medium-gray: #808080

/////////////////////////
//Animation Components//
///////////////////////

.animation
  display: flex
  flex-direction: column

  .slds-card__header-title h2
    font-size: 14px
    font-weight: bold

  h3
    font-size: 14px
  p
    font-size: 13px
    line-height: 20px

  button
    background: transparent

  .button-group
    display: none

  .slds-card
    width: 250px
    position: relative
    display: inline-block
    box-shadow: none
    z-index: 1
    margin-bottom: 1.5rem

    &::after
      content: ""
      position: absolute
      top: 0
      z-index: -1
      width: 100%
      height: 100%
      border-radius: .25rem
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2)
      opacity: 0
      transition: opacity 400ms

    &:hover
      &::after
        opacity: 1

      .button-group
        display: flex
        position: absolute
        top: -20px
        right: 8px

      .button-item
        display: flex
        justify-content: center
        align-items: center
        width: 32px
        height: 32px
        background: white
        border: 1px solid #dddbda
        border-radius: 50%
        padding-bottom: 2px
        &:last-child
          margin-left: 10px
        &:hover
          svg
            fill: $primary-blue

    &.expanded::after
      opacity: 1

  .slds-card__header
    margin-bottom: 8px
    .dot
      width: 10px
      height: 10px
      border-radius: 50%
      background-color: #2CAB21

  .slds-card__body
    color: $quip-black
    font-size: 12px
    margin-top: 8px

    span
      font-weight: bold
      color: $medium-gray

    .content
      margin-bottom: 8px

    .show-more
      color: $primary-blue

    .card-footer
      display: flex
      justify-content: space-between

.animation.collapsed
  display: inline-block
  position: relative

  .parent
    z-index: 10

  .child
    position: absolute
    top: 8px
    right: 8px
    z-index: 0

    .button-group
      display: none

  .slds-card
    margin-top: 0

  &:hover
    .slds-card::after
        opacity: 1
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1)
