@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/SalesforceSans-Regular.ttf"); }

#root {
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: none; }

html, body {
  background: white;
  height: 100%;
  font-family: 'Salesforce Sans', 'Open Sans', sans-serif;
  color: #333333; }

input, select, textarea, button, a {
  outline: none;
  font-family: inherit;
  box-sizing: border-box; }

body {
  zoom: 1;
  position: relative;
  width: 100; }

a {
  color: #3e3e3c; }

a img {
  outline-color: none; }

a:hover {
  text-decoration: none; }

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300; }

.app {
  width: 70%;
  margin: 0 auto;
  padding-top: 80px; }

.visual-picker fieldset {
  position: relative; }

.visual-picker input {
  width: 1px;
  height: 1px;
  clip: rect(0px, 0px, 0px, 0px);
  position: absolute;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  margin: -1px;
  overflow: hidden;
  padding: 0px; }

.visual-picker-container {
  width: 25rem;
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  border-radius: 0px; }

.input-item {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 2px;
  background: white;
  border-width: 1px;
  border-style: solid;
  border-color: #dddbda;
  border-image: initial;
  border-radius: 0.25rem; }
