@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/SalesforceSans-Regular.ttf"); }

#root {
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: none; }

html, body {
  background: white;
  height: 100%;
  font-family: 'Salesforce Sans', 'Open Sans', sans-serif;
  color: #333333; }

input, select, textarea, button, a {
  outline: none;
  font-family: inherit;
  box-sizing: border-box; }

body {
  zoom: 1;
  position: relative;
  width: 100; }

a {
  color: #3e3e3c; }

a img {
  outline-color: none; }

a:hover {
  text-decoration: none; }

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300; }

.app {
  width: 70%;
  margin: 0 auto;
  padding-top: 80px; }

.visual-picker fieldset {
  position: relative; }

.visual-picker input {
  width: 1px;
  height: 1px;
  clip: rect(0px, 0px, 0px, 0px);
  position: absolute;
  border-width: 0px;
  margin: -1px;
  overflow: hidden;
  padding: 0px; }

.visual-picker input:hover {
  background-color: red; }

.visual-picker input:checked ~ label.input-item {
  color: red; }

.visual-picker input:checked ~ label.input-item .form-control {
  position: relative; }

.visual-picker-container {
  width: 25rem;
  position: relative;
  flex-direction: column;
  border: 0;
  border-radius: 0;
  text-align: center;
  cursor: pointer; }

.input-item {
  text-align: left;
  padding: 1rem;
  display: flex;
  margin: auto;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #dddbda;
  border-radius: .25rem; }

.input-item span {
  display: block; }

.visual-picker .label {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  display: inline-block;
  color: #3e3e3c;
  font-size: .75rem;
  padding-right: .5rem;
  padding-top: .25rem;
  margin-bottom: .125rem; }

.visual-header {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.25; }

.visual-description {
  font-size: .75rem;
  margin-top: .25rem;
  line-height: 1.25;
  color: #3e3e3c; }

.visual-check {
  position: absolute;
  top: -.0625rem;
  right: .625rem;
  width: .5rem;
  height: .5rem;
  display: inline-block;
  border-radius: .25rem;
  line-height: 1; }

.visual-check svg {
  width: 1rem;
  height: 1rem;
  line-height: 1; }
